header {
  background-image: url('headerFYP.png'); /* Replace with your image path */
  background-size: cover;
  background-position: center;
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #EFF68B;
  text-align: center;
  position: relative;
  overflow: hidden;
}
.header-content {
  position: relative;
  z-index: 2;
  animation: fadeIn 2s ease-in-out;
}
header::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

body {
  padding-top: 20px;
  font-family: "Poppins", sans-serif;
  background: #131E23;
  color: white;
}

.footer {
  padding-top: 40px;
  padding-bottom: 40px;
  margin-top: 40px;
  border-top: 1px solid #eee;
}

/* Main marketing message and sign up button */
.Intro {
  background-color: transparent;
}
.Intro .btn {
  padding: 14px 24px;
  text-align: center;
}
.Intro h1{
  text-align:center;
  font-size:8vw;
}
.Intro .p{
  text-align: justify;
  font-size:5vw;
}

.navbar {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f7f7f7),to(#eee));
  background-image: -webkit-linear-gradient(top, #f7f7f7 0%,#eee 100%);
  background-image: -o-linear-gradient(top, #f7f7f7 0%,#eee 100%);
  background-image: linear-gradient(to bottom, #f7f7f7 0%,#eee 100%);
  border: 1px solid #e5e5e5;
}
.nav-link{
  font-size:4vw;
}

@media (min-width: 768px) {
  .navbar-nav {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }

  .navbar-nav .nav-item {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 auto;
        -ms-flex: 1 0 auto;
            flex: 1 0 auto;
  }
}
.card {
 margin-top: 5px;
}

.svgmap { 
  background-repeat: no-repeat;
  overflow: hidden;
   
}
circle { 
  fill: rgb(255, 0, 0);
  cursor: pointer;
  opacity: 10%;
  transform: scale(0.5);
}

.label 
{ 
  font-size: 1px;
  font-family: arial;
  stroke: #ffffff;
  cursor: pointer;
}

line { 
  stroke: #1E1E1E;
  stroke-dasharray: 5,5;
  stroke-width: 0.5;
}

line.shortest { 
  stroke: rgb(155, 0, 245);
  stroke-dasharray: 5,0;
  stroke-width: 11;
  -webkit-box-shadow: 4px 5px 5px -1px rgba(0,0,0,0.75);
  -moz-box-shadow: 4px 5px 5px -1px rgba(0,0,0,0.75);
  box-shadow: 4px 5px 5px -1px rgba(0,0,0,0.75);
}

.line-label { 
  font-family: arial;
  font-size: 1px;
  stroke: #000000;
}
/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .masthead,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
}
.button-group {
  text-align: center;
  margin-bottom: 20px;
}
.button-group button {
  margin: 0 10px;
  padding: 5px 20px;
  font-size: 16px;
  cursor: pointer;
}